*.csv filter=lfs diff=lfs merge=lfs -text
NEWS_DETECTION/ml_model/dataset/*.csv filter=lfs diff=lfs merge=lfs -text
NEWS_DETECTION/ml_model/dataset/fake_or_real_news.csv filter=lfs diff=lfs merge=lfs -text
