/* Bottom Strip */
.footer-bottom {
    width: 900px;
    height: 40px;
    color: red;
    background: linear-gradient(45deg, #0d47a1, #42a5f5);
    color: white;
    padding: 30px 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
    background: #0d47a1;
    margin-top: 20px;
  }

  .ft{
    color: white;
    text-align: center;
    margin-left: 45%;
  }